[submodule "themes/hugo-embed-pdf-shortcode"]
	path = themes/hugo-embed-pdf-shortcode
	url = https://github.com/anvithks/hugo-embed-pdf-shortcode.git
[submodule "hugo-cards"]
	path = hugo-cards
	url = https://github.com/bul-ikana/hugo-cards
