{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 projects-section" id="{{ $sectionID }}">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center" style="font-size: 32px;">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ else }}
    <h1 class="text-center" style="font-size: 32px; display: none">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ end }}
  <div class="container ms-auto text-center">
    <p class="p-1" style="text-align: center;">
      For more information about any of the above projects, click on their 
      cards or visit them at <a href="/posts/projects">posts</a>.
    </p>
  </div>
</div>
